@charset "UTF-8";
/* CSS Document */
body{
	background-color:lavender;
	color:mediumpurple;
}
div.gallery {
  margin: 13px;
  border: 0px solid #ccc;
  float:left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}